<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sugelamei.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.sugelamei.entity.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="balance" property="balance" jdbcType="DECIMAL"/>
        <result column="data_base" property="dataBase" jdbcType="VARCHAR"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from user
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.sugelamei.entity.User">
        insert into user (id, `name`, age,
        balance, data_base)
        values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER},
        #{balance,jdbcType=DECIMAL}, #{dataBase,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.sugelamei.entity.User">
        update user
        set `name` = #{name,jdbcType=VARCHAR},
        age = #{age,jdbcType=INTEGER},
        balance = #{balance,jdbcType=DECIMAL},
        data_base = #{dataBase,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select id, `name`, age, balance, data_base
        from user
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, `name`, age, balance, data_base
        from user
    </select>
</mapper>